@charset "UTF-8";


header {height:100px;}
.header-box {height:100px;}
.contents {min-height:500px;}
footer {height:100px;}
.footer-box {height:100px;}

.sign-up-box {width:550px;}
.sign-up-table th {background:#D8D8D8;}